{% extends "base.html" %}
{% load static %}


{% block breadcrumb %}

<li class="breadcrumb-item px-1">
    <a href="{% url 'accounts:home' %}" style="color: black;">الصفحة الرئيسية</a>
</li>
<li class="breadcrumb-item  px-0">
    <a href="{% url 'accounts:student_management' %}" style="color: black;"> <span>&gt;</span> ادارة الطلاب
    </a>
</li>
<li class="breadcrumb-item  active px-0">
    <a href="{% url 'accounts:student_list' %}" style="color: black;"> <span>&gt;</span> جدول الطلاب
    </a>
</li>
<li class="breadcrumb-item  active px-0">
    <span>&gt;</span> {{student}}
</li>
{% endblock breadcrumb %}
{% block content %}
{% include 'messages.html' %}

<section style="background-color: #eee;">


    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{student.image.url}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{student.full_name}}</h5>
            <p class="text-muted mb-1">
                {% if not student.StudentProfile.section %}
                    <p>الشعبة: غير مسجل</p>
                {% else %}
                    <p>الشعبة:{{ student.StudentProfile.section.name }}</p>
                {% endif %}
            </p>
            <p class="text-muted mb-4">
                {% with rec=student.StudentProfile.latest_academic_record %}
                    {% if rec %}
                        <p>المستوى الاكاديمي:{{ rec.academic_levels }}</p>
                    {% else %}
                        <p>المستوى الاكاديمي:غير مسجل</p>
                    {% endif %}
                {% endwith %}

            </p>
            <div class="d-flex justify-content-center mb-2">
              <a  href="{% url 'accounts:student_edit' student.id  %}" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary ms-1">تعديل</ش>
              <a   href="{% url 'accounts:student_delete' student.id %}"  data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger">حذف</a>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            
            <h5 class="card-title text-center text-muted">اولياء الامور</h5>
            <hr>
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">محمد صالح عبدالله الجبري</p>
                <a href="">
                    <a href="">
                    <i class="fa-solid fa-circle-info text-info"></i>
                </a>
                </a>
                
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">محمد صالح عبدالله الجبري</p>
                <a href="">
                    <i class="fa-solid fa-circle-info text-info"></i>
                </a>

              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">محمد صالح عبدالله الجبري</p>
                <a href="">
                    <i class="fa-solid fa-circle-info text-info"></i>
                </a>

              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">محمد صالح عبدالله الجبري</p>
                <a href="">
                    <i class="fa-solid fa-circle-info text-info"></i>
                </a>

              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">محمد صالح عبدالله الجبري</p>
                <a href="">
                    <i class="fa-solid fa-circle-info text-info"></i>
                </a>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">الاسم كامل</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{student.full_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">العمر</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{student.age}}</p>
                </div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">البريد الالكتروني</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{student.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">رقم الجوال</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{student.phone_number}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">الجنس</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                    {% if student.gender == "M" %}
                        ذكر
                    {% elif student.gender == "F" %}
                        انثى
                    {% endif %}
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">العنوان</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{student.address}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">تاريخ الميلاد</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{student.birthday}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">حالة الطالب</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                    {% if student.is_active %}
                        نشط
                    {% else %}
                        غير نشط
                    {% endif %}
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">اضيف من قبل المشرف</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{student.StudentProfile.add_by}}</p>
                </div>
            </div>
          </div>
        </div>
        <h3>سجل المستويات الاكاديمي </h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">المستوى الاكاديمي</th>
                        <th scope="col">السنة الاكاديمي</th>
                        <th scope="col">تاريخ التسجيل</th>
                        <th scope="col">المستوى الحالي</th>
                        <th scope="col">حذف/تعديل</th>

                    </tr>
                </thead>
                <tbody>
                    {% for level in student.StudentProfile.student_level.all %}
                    <tr>
                        <td>{{level.pk}}</td>
                        <td>{{level.academic_levels}}</td>
                        <td>{{level.academic_levels.academic_year}}</td>
                        <td>{{level.registration_date}}</td>
                        <td>
                            
                            {% if level.is_current %}
                                مسجل حالياً فيه
                            {% else %}
                            مسجل مسبقاً
                            {% endif %}
                                
                        </td>
                        <td>
                        {% include 'confirm_deletion.html' %}
                          <a href="{% url 'accounts:edit_level' student.pk level.pk %}" class="mx-2">
                            <i class="fas fa-edit ">
                            </i>
                          </a>
                       
                         
                        
                        
                        </td>
                    </tr>
                    
                    {% empty %}
                    <tr>
                        <td colspan="1">لا توجد مستويات أكاديمية</td>
                    </tr>
                    {% endfor %}            
                </tbody>
            </table>
            <a href="" class="btn btn-outline-secondary">اضافة مستوى</a>
            <br>
            <br>

      </div>
    </div>
  </div>
</section>
    
{% endblock content %}
    
