{% extends 'base.html' %}
{% load static %}

{% block title %}
ادارة الطلاب
{% endblock title %}

{% block breadcrumb %}

<li class="breadcrumb-item px-1">
    <a href="{% url 'accounts:home' %}" style="color: black;">الصفحة الرئيسية</a>
</li>
<li class="breadcrumb-item  px-0">
    <a href="{% url 'accounts:student_management' %}"  style="color: black;">    <span>&gt;</span> ادارة الطلاب
</a>
</li>
<li class="breadcrumb-item  px-0">
    <a href="{% url 'accounts:student_list' %}"  style="color: black;">    <span>&gt;</span> جدول الطلاب
</a>
</li>
<li class="breadcrumb-item  px-0">
    <a href="{% url 'accounts:student_details' student.pk %}"  style="color: black;">    <span>&gt;</span> {{student}}
</a>
</li>
<li class="breadcrumb-item active  px-0">
    <span>&gt;</span> تعديل مستوى
</li>

    {% endblock breadcrumb %}

{% block content %}
{% include 'messages.html' %}
 


<div class="container">
    <h1 class="text-center logo my-4">
      
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 mb-4">
            <div class="card ">
                <div class="card-body">
                    <h3 class="card-title">تعديل المستوى</h3>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form.html' %}
                        <br>
                        <button type="submit" class="btn btn-primary btn-block mt-4">تعديل</button>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    