{% load static %}
<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="shortcut icon" href="#">

    
    {% block styles %}
        
    {% endblock styles %}
        
</head>

<body dir='rtl' style="height: 100%; overflow-y: auto;">
    {% comment %} start navbar {% endcomment %}
<div class="container-fluid" style="background-color: #212529;">
<div class="container">
    <div class="row">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand mx-2" href="{% url 'accounts:home' %}">الصفحة الرئيسية</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
<a class="nav-link {% if '/accounts/supervisor_management/' in request.path %}active{% endif %}"
   href="{% url 'accounts:supervisor_management' %}">
    إدارة المشرفين
</a>            <a class="nav-link {% if '/accounts/student_management/' in request.path %}active{% endif %} " aria-current="page" href="{% url 'accounts:student_management' %}">ادارة الطلاب</a>
            <a class="nav-link" href="#">ادارة المعلمين</a>
            <a class="nav-link" href="#">ادارة الواجبات</a>
            <a class="nav-link" href="#">ادارة المستويات الدراسية</a>
            <a class="nav-link" href="#">ادارة الدرجات</a>
+            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
    <div class="d-flex">
        <div class="navbar-nav nav-item dropdown">
            {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" style='text-align:right' aria-labelledby="navbarDropdownMenuLink" >
                <li><a class="dropdown-item" href="{% url 'accounts:my_profile' %}">الملف الشخصي</a></li>
                {% comment %} <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li> {% endcomment %}
                <li><a class="dropdown-item" href="#">تغيير كلمة السر</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">تسجيل الخروج</a></li>
            </ul>
            <a class="nav-link active" aria-current="page" href="{% url 'accounts:home' %}">{{ user.full_name }}</a>
            {% else %}
            <a class="btn btn-outline-secondary  "  href="{% url 'accounts:login' %}">تسجيل الدخول</a>
            <a class="btn btn-outline-secondary me-3" href="{% url 'accounts:signup' %}">انشاء حساب</a>
            {% endif %}
        </div>
    </div>
</nav>


    </div>
</div>
</div>
    {% block body %}
        

        
<div class="container">
    <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
        <ol class="breadcrumb my-4 p-3 mb-2 bg-light text-dark" style="direction: rtl;">
                {% block breadcrumb %}

                {% endblock breadcrumb %}
      
            </ol>
        </nav>
        
        {% block content %}
        {% endblock content %}

    </div>
    


 {% comment %} <a class="btn btn-outline-primary" href="{% url 'accounts:signup' %}">SignUp</a> {% endcomment %}
    {% endblock body %}
    <!-- Bootstrap CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- jQuery (إذا كنت بحاجة إليه) -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

<!-- Popper.js (اختر واحدًا فقط) -->
<!-- Development version -->
<!-- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script> -->

<!-- Production version -->
<script src="{% static 'js/popper.min.js' %}"></script>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
